[user]
	name = James Gary
	email = james.gary@sendgrid.com
	initials = jg
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[github]
  user = jamesgary
[alias]
  st = status -s
  ci = commit
  br = branch
  co = checkout
  df = diff --color-words -w
  re = remote -v
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  blame = blame -wC
  undo = reset --soft HEAD^
	up = "!git remote update -p; git merge --ff-only @{u}"
  pom = pull origin master
[help]
  autocorrect = -1
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = simple
